<div class="progress progress-striped  active"> <div class="bar"   style="width: 20%;"></div></div>

<h2>Agree to Terms</h2>
<p>Before placing your ad…</p>
<p>The Property for Sale section is a place for users to list their properties to sale (obviously). By listing in this section you agree that you will NOT do the following:</p>
<ul>
  <li>Place an advertisement for a property for rent.</li>
  <li>Place the same advertisement twice.</li>
  <li>Place an advertisement with false information in order to generate leads.</li>
  <li>Place an advertisement that promotes a business.</li>
  <li>Place an advertisement for a property in a different city or country..</li>
  <li>Place an advertisement in the wrong category.</li>
</ul>