<h2>Choose Categories</h2>
<div class="size-info">
<%=f.label :section_id , "Select a Section" %><br/>
<%= f.select(:section_id, Section.all.collect {|s| [ s.name, s.id ] },{:prompt => "- Select One -"}) %>
</div>
<div style="display: none;" id="cat_section">
 <div class="size-info">
  <%=f.label :category_id , "Select a Category" %><br/>
  <span id="categories_list" >

  </span>
 </div>
</div>
<div id="sub_categories" style="display:none;">
<div>
  <span id="sub_categories_list">
    
  </span>
</div>
</div> 