<div class="progress progress-striped  active"> <div class="bar"   style="width: 80%;"></div></div>
  <%= f.fields_for :images do |image_form| %>
    <p>
      <%= image_form.label :image %>
      <%= image_form.file_field :attachment %>
    </p>
  <% end %>