<div id="exception" class = 'modal hide fade'>
  <div class="modal-header"> <h2> Exception information</h2></div>
  <div class="modal-body">
    <h4><small> Message</small><p><%= @exception_message %></p></h4>
    <h4><small> Backtrace</small><p><%= @exception_trace %></p></h4>
  </div>
</div>
    
  


