<div class="cont-left">
  <div class="search-block">
    <div class="activity-info">
      <span class="label-info"> <span class="selected3" id="select6">All Cities</span>
        <select class="styled3" name="6">
          <option value="8" selected="selected3">Hyderabad</option>
          <option value="6">Visakapatnam</option>
          <option value="7">Vijayawada</option>
          <option value="9">Tirupathi</option>
          <option value="10">Karnool</option>
          <option value="10">Warangal</option>
          <option value="10">Kakinada</option>
          <option value="10">Rajamundry</option>
        </select>
      </span>
    </div>
    <div class="activity-info">
      <span class="label-info"> <span class="selected3" id="select6">All of Hamara Souk</span>
        <select class="styled3" name="6">
          <option value="8" selected="selected3"> Classifieds</option>
          <option value="6">Property for Rent</option>
          <option value="7">Property For Sale</option>
          <option value="9">Jobs</option>
          <option value="10">Community</option>
        </select>
      </span> </div>
    <h2>Keywords</h2>
    <input name="" type="text" />
    <span><input name="" type="button" /></span>
  </div>
  <div class="left-info-block"> <span class="left-info-title">Quick Links</span> <span class="left-info-mid">
      <ul>
        <li><a href="#">Sell</a></li>
        <li><a href="#"> Rent</a></li>
        <li><a href="#"> Place an Ad</a></li>
        <li><a href="#"> Register</a></li>
        <li><a href="#">New features</a></li>
      </ul>
    </span> </div>
  <div class="left-info-block"> <span class="left-info-title">Testimonials</span> <span class="left-info-mid"> <span class="quote-l"> </span> This ia a dummy text wide search allows you to easily and quickly travel throughout the country on your computer to take advantage <img src="/assets/quote-right.png" alt="" border="none" /> <span class="user"><a href="#">Pirujan sahed</a></span> </span> </div>
  <div class="left-info-block"> <span class="left-info-title">Buy Safely</span> <span class="left-info-mid">
      <p>Deals Transactions are at your own risk. Better transact face to face before the Transaction</p>
    </span> </div>
</div>