<div id="terms_and_cond" class = 'modal hide fade'>
  <div class="modal-header">
    <h1>HamaraSouk Terms And Conditions</h1>
  </div>
  <div class="modal-body">    
    <ul>
      <li>terms1</li>
      <li>terms2</li>
    </ul>
  </div>
  <div class="modal-footer">
    <p>Thanks</p>
  </div>

</div>