<div class="content-sec">
      <h5>About HAMARASOUK</h5>
      <p> <strong>HAMARASOUK</strong> was launched because we saw the need for a place where the local community within a city could come together, meet, trade and help each other in many ways. Community members can come here to find an apartment to live in, sell their old car, bike ,music system, laptop or furniture, promote their small business, buy any item that they might want or have to offer and make new friends while doing all of the above.</p>
      <p> We hope to address all such needs and more by connecting people in an easy and fastest way.</p>
      <h6>Managing Partner - Co-Founder</h6>
      <strong>N. AnilKumar</strong>
      <p>has many times during his life, been asked the question "what do you want to be when you grow up"? While it is unsure at what age he will quit changing his mind, it is confirmed that never has he said that he wanted to live in the UAE and own a community website called Dubizzle.com. That being said, however, he has, from a young age, said that he would like to rule the world, and while there is no proven profession that guarantees complete world domination, dot com owner seems like a logical place to start. Of course he has also said from a young age that we would all have our own robots by now and that he can see dead people, so I wouldn't worry too much.</p>
      <h6>On HAMARASOUK you can:</h6>
      <div class="about-list">
        <ul>
          <li>Easily design rich ads with pictures.</li>
          <li>Control your selling, buying, and community activity with HAMARASOUK</li>
          <li>Display your ads on your social networking profile <!--(Facebook, Myspace, ...)--></li>
          <li>Access the site at any time from any where</li>
          <li>HAMARASOUK provides a simple solution to the complications involved in selling, buying, trading, discussing, organizing, and meeting people near you, wherever you may reside.</li>
        </ul>
      </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
