<div class="content-sec">
      <h5>Advertising</h5>
      <div class="contact-block advertising">
        <h6>Welcome to HAMARASOUK</h6>
        <p>The INDIA's favorite online classifieds and community web portal. hamarasouk.com receives approximately 69 million page views and 5.7 million visits a month. These statistics are continuing to grow at an accelerated rate as loyal users keep coming back to hamarasouk and as new users are driven to the site to meet their daily needs.</p>
        <p>hamarasouk, launched in August 2005, provides its users with an extensive and completely free classifieds section, property for sale and property for rent sections, jobs pages, discussion forums and an array of other fun and useful pages.</p>
        <p>With its high traffic and targetable demographic, hamarasouk.com is the ideal platform for advertisers to ignite consumer interest in their product or service. To get your hands on one of our media kits or for more information please contact us at <a href="#">advertise@hamarasouk.com</a></p>
        <h4>hamarasouk.com Online Media Information:</h4>
        <div class="advertising-info">
          <ul>
            <li><a href="#">Why Online Advertising?</a></li>
            <li><a href="#"> hamarasouk Demographics</a></li>
            <li><a href="#"> Why does advertising on hamarasouk.com work?</a></li>
            <li><a href="#"> hamarasouk.com a web site with High Traffic and High Growth</a></li>
            <li><a href="#"> hamarasouk.com Advertising Products</a></li>
            <li><a href="#"> hamarasouk E-Marketing</a></li>
            <li><a href="#"> hamarasouk Property for Sale Listing Packages</a></li>
            <li><a href="#"> Feature your property at the top of search results</a></li>
          </ul>
        </div>
        <div class="advt-info">
        <h6>Why Online Advertising?</h6>
        <ul>
        <li>Increase your ROI with an effective and affordable online campaign.</li>
        <li>Broaden the reach of your marketing budget.</li>
        <li>Get instant results, customers are only ever a click away from your site.</li>
        <li>The success of your campaign is measurable, with up to the minute statistics on impressions and clicks.</li>
        <li>Raise brand awareness with an eye catching creative.</li>
       <li> Communicate your message to potential customers throughout the working day.</li>
       <li> Target the demographic that is most likely to be interested in your good or service.</li>
       <li> Save money and increase effectiveness by including an online component with traditional media advertising.</li>
       </ul>
       <p></p>
        <span class="back-top"><a href="#">BACK TO TOP</a></span>
        <h6>hamarasouk Demographics</h6>
        <p> Who are you advertising to? With hamarasouk.com advertisers have the opportunity to reach a young, western, trendsetting group of individuals who have money to spend on living the INDIA lifestyle. The site has a strong expatriate following with 75% of visits coming from the INDIA, of this 40% are western while 20% are from the MENA Region. Two thirds of users are male and over 80% are between the ages of 21 and 40. The site is used to sell absolutely everything from furniture to expensive cars, to buy anything from household appliances to some of the INDIA's top real estate and to find anything from flat mates and nanny's to the perfect venue for a night out on the town.</p>
        <span class="back-top"><a href="#">BACK TO TOP</a></span>
        <h6>Why does advertising on hamarasouk.com work?</h6>
        <p> As hamarasouk users are already looking to spend $$, (or DHS as the case may be) they come to the site with the intention of finding and purchasing a specific good or service. The layout of the site allows advertisers to exclusively target people who are already interested in their good or service by purchasing targeted advertising. For more information on the groups that can be targeted via hamarasouk contact us at advertise@hamarasouk.com.</p>
        <span class="back-top"><a href="#">BACK TO TOP</a></span>
        <h6>hamarasouk.com a web site with High Traffic and High Growth</h6>
        <p>In June 2010 hamarasouk.com received approximately 69 million page views and over 5.7 million visits. Since going live in August 2005 page views and visits have grown at a rapid rate as more people are driven to the site in order to meet their daily online needs.</p>
        <span class="back-top"><a href="#">BACK TO TOP</a></span>
        <h6>hamarasouk.com Advertising Products</h6>
        <p>hamarasouk.com has advertising products to fit any budget or to corner any target market. With extensive experience in the INDIA's online advertising industry, the hamarasouk team has the tools and the know-how to deliver strategic support and advice to our clients.</p>
        <span class="back-top"><a href="#">BACK TO TOP</a></span>
        </div>
        
         </div>
    </div>
