 
<div class="content-sec">
  <div class="cont-left">
    <div class="search-block">
      <div class="activity-info">
        <span class="label-info"> <span class="selected3" id="select6">All Cities</span>
          <select class="styled3" name="6">
            <option value="8" selected="selected3">Hyderabad</option>
            <option value="6">Visakapatnam</option>
            <option value="7">Vijayawada</option>
            <option value="9">Tirupathi</option>
            <option value="10">Karnool</option>
            <option value="10">Warangal</option>
            <option value="10">Kakinada</option>
            <option value="10">Rajamundry</option>
          </select>
        </span> </div>
      <div class="activity-info">
        <span class="label-info"> <span class="selected3" id="select6">All of Hamara Souk</span>
          <select class="styled3" name="6">
            <option value="8" selected="selected3"> Classifieds</option>
            <option value="6">Property for Rent</option>
            <option value="7">Property For Sale</option>
            <option value="9">Jobs</option>
            <option value="10">Community</option>
          </select>
        </span> </div>
      <h2>Keywords</h2>
      <input name="" type="text" />
      <span><input name="" type="button" /></span>
    </div>
    <div class="left-info-block"> <span class="left-info-title">Quick Links</span> <span class="left-info-mid">
        <ul>
          <li><a href="#">Sell</a></li>
          <li><a href="#"> Rent</a></li>
          <li><a href="#"> Place an Ad</a></li>
          <li><a href="#"> Register</a></li>
          <li><a href="#">New features</a></li>
        </ul>
      </span> </div>
    <div class="left-info-block"> <span class="left-info-title">Testimonials</span> <span class="left-info-mid"> <span class="quote-l"> </span> This ia a dummy text wide search allows you to easily and quickly travel throughout the country on your computer to take advantage <img src="assets/quote-right.png" alt="" border="none" /> <span class="user"><a href="#">Pirujan sahed</a></span> </span> </div>
    <div class="left-info-block"> <span class="left-info-title">Buy Safely</span> <span class="left-info-mid">
        <p>Deals Transactions are at your own risk. Better transact face to face before the Transaction</p>
      </span> </div>
  </div>
  <div class="cont-right">
    <div class="ad-list-info">
      <div class="ad-list-block mr-29 ht-600"> <span class="ad-title classifieds">Classifieds</span>
        <ul>
          <li><a href="#">Autos/4x4s</a> <span>(24890)</span></li>
          <li><a href="#">Auto Accessories & Parts</a><span>(2164)</span></li>
          <li><a href="#">Baby Items</a> <span>(2477)</span></li>
          <li><a href="#"> Boats</a> <span>(637)</span></li>
          <li><a href="#">Books </a><span>(712)</span></li>
          <li><a href="#">Business & Industrial </a><span>(1432)</span></li>
          <li><a href="#">Cameras & Imaging </a><span>(1419)</span></li>
          <li><a href="#">Clothing & Accessories</a> <span>(4306)</span></li>
          <li><a href="#">Collectibles </a><span>(555)</span></li>
          <li><a href="#">Computers & Networking </a><span>(3729)</span></li>
          <li><a href="#">DVDs & Movies</a><span> (195)</span></li>
          <li><a href="#">Electronics </a><span>(3432)</span></li>
          <li><a href="#">Free Stuff</a> <span>(30)</span></li>
          <li><a href="#">Furniture, Home & Garden </a><span>(13580)</span></li>
          <li><a href="#">Gaming</a><span> (1359)</span></li>
          <li><a href="#">Home Appliances </a><span>(3346)</span></li>
          <li><a href="#">Jewelry & Watches</a><span> (1755)</span></li>
          <li><a href="#">Lost/Found</a><span> (67)</span></li>
          <li><a href="#">Misc </a><span>(443)</span></li>
          <li><a href="#">Mobile Phones & PDAs </a><span>(4621)</span></li>
          <li><a href="#">Motorcycles </a><span>(1176)</span></li>
          <li><a href="#">Music</a><span> (71)</span></li>
          <li><a href="#">Musical Instruments</a><span> (554)</span></li>
          <li><a href="#">Pets </a><span>(491)</span></li>
        </ul>
        <span class="post-ad">Post An Ad</span> </div>
      <div class="ad-list-block mr-29 ht-248"> <span class="ad-title pro-f-rent">Property for Sale</span>
        <ul>
          <li><a href="#">Residential for Sale</a> <span>(24890)</span></li>
          <li><a href="#">Commercial for Sale</a> <span>(2164)</span></li>
          <li><a href="#">Multiple Units for Sale</a> <span>(2477)</span></li>
          <li><a href="#">Land for Sale</a> <span>(637)</span></li>
          <li><a href="#">Residential for Sale</a> <span>(712)</span></li>
          <li><a href="#">Commercial for Sale</a> <span>(1432)</span></li>
          <li><a href="#">Multiple Units for Sale</a> <span>(1419)</span></li>
          <li><a href="#">Land for Sale</a> <span>(4306)</span></li>
        </ul>
        <span class="post-ad">Post An Ad</span> </div>
      <div class="ad-list-block"> <span class="ad-title jobs ht-248">Job Vacancies</span>
        <ul>
          <li><a href="#">Consulting</a> <span>(24890)</span></li>
          <li><a href="#">Education</a> <span>(2164)</span></li>
          <li><a href="#">Executive</a> <span>(2477)</span></li>
          <li><a href="#">Hospitality</a> <span>(637)</span></li>
          <li><a href="#">HR/Recruiting</a> <span>(712)</span></li>
          <li><a href="#">IT/Telecom</a> <span>(1432)</span></li>
          <li><a href="#">Marketing/PR</a> <span>(1419)</span></li>
          <li><a href="#">Media</a> <span>(4306)</span></li>
        </ul>
        <span class="post-ad">Post An Ad</span> </div>
      <div class="ad-list-block mr-29"> <span class="ad-title pro-f-rent ht-336">Property for Rent</span>
        <ul>
          <li><a href="#">Residential for Sale</a> <span>(24890)</span></li>
          <li><a href="#">Commercial for Sale</a> <span>(2164)</span></li>
          <li><a href="#">Multiple Units for Sale</a> <span>(2477)</span></li>
          <li><a href="#">Land for Sale</a> <span>(637)</span></li>
          <li><a href="#">Residential for Sale</a> <span>(712)</span></li>
          <li><a href="#">Commercial for Sale</a> <span>(1432)</span></li>
          <li><a href="#">Multiple Units for Sale</a> <span>(1419)</span></li>
          <li><a href="#">Land for Sale</a> <span>(4306)</span></li>
          <li><a href="#">Residential for Sale</a> <span>(712)</span></li>
          <li><a href="#">Commercial for Sale</a> <span>(1432)</span></li>
          <li><a href="#">Multiple Units for Sale</a> <span>(1419)</span></li>
          <li><a href="#">Land for Sale</a> <span>(4306)</span></li>
        </ul>
        <span class="post-ad">Post An Ad</span> </div>
      <div class="ad-list-block "> <span class="ad-title commu ht-336">Community</span>
        <ul>
          <li><a href="#">Activities</a> <span>(24890)</span></li>
          <li><a href="#">Artists</a> <span>(2164)</span></li>
          <li><a href="#">Car Lift</a> <span>(2477)</span></li>
          <li><a href="#">Charities</a> <span>(637)</span></li>
          <li><a href="#">Childcare</a> <span>(712)</span></li>
          <li><a href="#">Classes</a> <span>(1432)</span></li>
          <li><a href="#">Clubs</a> <span>(1419)</span></li>
          <li><a href="#">Education</a> <span>(4306)</span></li>
          <li><a href="#">Freelancers</a> <span>(712)</span></li>
          <li><a href="#">Misc</a> <span>(1432)</span></li>
          <li><a href="#"> Music</a> <span>(1419)</span></li>
          <li><a href="#"> News</a> <span>(4306)</span></li>
        </ul>
        <span class="post-ad">Post An Ad</span> </div>
    </div>
    <div class="gallery"></div>
  </div>
</div>


