
<div class="content-sec">
      <h5>Terms And Conditions</h5>
      
     
     
     
     
     <h6>Introduction.</h6>

<p>Welcome to www.hamarasouk.com ("hamarasouk / Site"). These are the terms and conditions governing your use of the Site ("herein after referred to as Acceptable Use Policy "AUP"). By accessing hamarasouk either through the website or any other electronic device, you acknowledge, accept and agree to the following terms of the AUP, which are designed to make sure that hamarasouk works for everyone. This AUP is effective from the time you log in to hamarasouk. By accepting this AUP, you are also accepting and agreeing to be bound by the Privacy Policy and the Listing Policy.</p>
<h6>1. Using hamarasouk.</h6>

<p>You agree and understand that www.hamarasouk.com is an internet enabled electronic platform that facilitates communication for the purposes of advertising and distributing information pertaining to goods and/ or services. You further agree and understand that we do not endorse, market or promote any of the listings, postings or information, nor do we at any point in time come into possession of or engage in the distribution of any of the goods and/ or services, you have posted, listed or provided information about on our site. While interacting with other users on our site, with respect to any listing, posting or information we strongly encourage you to exercise reasonable diligence as you would in traditional off line channels and practice judgment and common sense before committing to or complete intended sale, purchase of any goods or services or exchange of information. We recommend that you read our Safety tips before doing any activity on our site.</p>

<p>While making use of hamarasouk classifieds and other services such as the discussion forums, comments and feedback and other services interalia, you will post in the appropriate category or area and you agree that your use of the Site shall be strictly governed by this AUP including the policy for listing of your Classified which shall not violate the prohibited and restricted items policy (herein after referred to as the Listing Policy.) (Listing Policy) The listing policy shall be read as part of this AUP and is incorporated in this AUP by way of reference:</p>

<p>a. " Your Information" is defined as any information you provide to us or other users of the Site during the registration, posting, listing or replying process of classifieds, in the feedback area (if any), through the discussion forums or in the course of using any other feature of the Services. You agree that you are the lawful owner having all rights, title and interest in your information, and further agree that you are solely responsible and accountable for Your Information and that we act as a mere platform for your online distribution and publication of Your Information.</p>

<p>b. You agree that your listing, posting and / or Information :
• shall "not be fraudulent, misrepresent, mislead or pertain to the sale of any illegal, counterfeit, stolen goods and / or services
• shall not pertain to good , services of which you are not the lawful owner or you do not have the authority or consent to 'list' which do not belong to you or you do not have the authority for • shall not infringe any intellectual property, trade secret, or other proprietary right or rights of publicity or privacy of any third party;
• shall not consist of material that is an expression of bigotry, racism or hatred based on age, gender, race, religion, caste, class, lifestyle preference, and nationality and / or is in the nature of being derogatory, slanderous to any third party;
• shall not be obscene, contain pornography or contain "indecent representation of women" within the meaning of the Indecent Representation of Women (Prohibition) Act, 1986.
• shall not distribute or contain spam, multiple / chain letters, or pyramid schemes in any of its forms;
• shall not distribute viruses or any other technologies that may harm hamarasouk or the interests or property of hamarasouk users or impose an unreasonable load on the infrastructure or interfere with the proper working of hamarasouk;
• shall not, directly or indirectly, offer, attempt to offer, trade or attempt to trade in any goods and services, the dealing of which is prohibited or restricted in any manner under the provisions of any applicable law, rule, regulation or guideline for the time being in force.
• shall not be placed in a wrong category or in an incorrect area of the site;
• shall not be placed in any other hamarasouk site except on the site that relates to the city in which you are located;
• shall not list or post or pertain to information that is either prohibited or restricted under the laws of the Republic of India and such listing, posting or information shall not violate hamarasouk's Listing Policy</p>

<p>c. You agree that your listing, posting and / or Information : if you use the Site by registering on the Site, you are responsible for maintaining the confidentiality of your User ID, password, email address and for restricting access to your computer, computer system, computer network and your hamarasouk account, and you are responsible for all activities that occur under your User ID and password. If you access the Site using any electronic device other than by registration on the Site, the AUP remains applicable to you in the same manner as if you are a registered user on the Site.</p>

<h6>2. Eligibility</h6>

<p>Use of www.hamarasouk.com,, either by registration or by any other means, is available only to persons, who are Citizens of the Republic of India, who are 18 yrs of age and above and persons who can enter into a legally binding contract, and or are not barred by any law for the time being in force. If you access hamarasouk, either by registration on the Site or by any other means, not as an individual but on behalf of a legal entity, you represent that you are fully authorized to do so and the listing, posting or information placed on the site on behalf of the legal entity is your responsibility and you agree to be accountable for the same to other users of the Site.</p>
<h6>3. Abuse of hamarasouk</h6>

<p>You agree to inform us if you come across any listing or posting that is offensive or violates our listing policy or infringes any intellectual property rights by clicking on the following link to enable us to keep the site working efficiently and in a safe manner. We reserve the right to take down any posting, listing or information and or limit or terminate our services and further take all reasonable technical and legal steps to prevent the misuse of the Site in keeping with the letter and spirit of this AUP and the listing policy. In the event you encounter any problems with the use of our site or services you are requested to report the problem by clicking on this link</p>
<h6>4. Violations by User</h6>

<p>You agree that in the event your listing, posting or your information violates any provision of this AUP or the listing policy, we shall have the right to terminate and or suspend your membership of the Site and refuse to provide you or any person acting on your behalf, access to the Site.</p>
<h6>5. Content</h6>

<p>The Site contains content which includes Your Information, hamarasouk's information and information from other users. You agree not to copy, modify, or distribute such content (other than Your Information), hamarasouk's copyrights or trademarks. When you give us any content as part of Your Information, you are granting us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable right and license to use, reproduce, , publish, translate, distribute, perform and display such content (in whole or part) worldwide through the Site as well as on any of our affiliates or partners websites, publications and mobile platform. We need these rights with respect to the content in Your Information in order to host and display your content. If you believe that there is a violation, please notify us by clicking here .</p>

<p>We reserve the right to remove any such content where we have grounds for suspecting the violation of these terms and our Listing Policy or of any party's rights</p>.
<h6>6. Liability</h6>

<p>You agree not to hold www.hamarasouk.com or any of its officers, employees, agents responsible or accountable for any of your listing, postings or information and nor shall we, our officers, employees or agents be liable for any misuse, illegal activity or third party content as most postings, listings or information are generated by various users directly and we do not have any role in the creation, publication or distribution of the posting, listing or information, nor are we in a position to have editorial control over the substance or content contained in the listings, postings, or information, save and except to the extent provided in sec 3 above.</p>

<p>You understand and agree that we do not guarantee the accuracy or legitimacy of any listing, posting, information by other users. You further agree that we are not liable for any loss of money, goodwill, or reputation, or any special, indirect, or consequential damages arising out of your use of the site or as a result of any sale, purchase of goods and services with other users of the site. We also cannot guarantee continuous or secure access to our Services. Accordingly, to the extent legally permitted we exclude all implied warranties, of merchantability, fitness or quality of the Site and our services.</p>
<h6>7. Personal Information</h6>

<p>By using hamarasouk, you agree to the collection, transfer, storage and use of any personal information provided by you on the Site by hamarasouk India Private Limited. The data is stored and controlled on servers located in Mumbai, India as further described in our Privacy Policy. By submitting your resume with your replies, you give permission to hamarasouk to publicly display your resume which can be freely accessed by anyone. You also agree to receive marketing communications from us unless you specifically indicate otherwise in writing to us through support@hamarasouk.com. You may send questions about this policy to privacy@hamarasouk.com.</p>
<h6>8. General</h6>

<p>We may update this AUP or the listing policy at any time and may notify you of such updates via a post on the boards and /or through email communications. The modified AUP and /or Listing Policy shall come into effect either at the time you place your next posting, listing or information on the Site or after a period of 30 days from the date of the update, whichever is sooner. If we or our corporate affiliates are involved in a merger or acquisition, we may share personal information with another company, but this AUP shall continue to apply.</p>
<h6>9. Third Party Content and Services</h6>

<p>hamarasouk may provide, on its site, links to sites operated by other entities. If the user decides to view this site, they shall do so at their own risk, subject to that site's terms and conditions of use and privacy policy that may be different from those of this site. It is the user's responsibility to take all protective measures to guard against viruses or other destructive elements they may encounter on these sites. hamarasouk makes no warranty or representation regarding, and do not endorse any linked website or the information appearing thereon or any of the products or services described thereon.</p>

<p>Further, user's interactions with organizations and/or individuals found on or through the service, including payment and delivery of goods and services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between the user and such organization and/or individual. The user should make whatever investigation they feel necessary or appropriate before proceeding with any offline or online transaction with any of these third parties.</p>
<h6>10. Indemnity</h6>

<p>The User should agree to indemnify and hold hamarasouk, its officers, subsidiaries, affiliates, successors, assigns, directors, officers, agents, service providers, suppliers and employees, harmless from any claim or demand, including reasonable attorney fees and court costs, made by any third party due to or arising out of content submitted by the user, users use of the service, violation of the TOU, breach by the user of any of the representations and warranties herein, or user's violation of any rights of another</p>.
<h6>11. Governing Law & Jurisdiction</h6>

<p>This AUP and the Listing Policy shall be governed and construed in accordance with the laws of the Republic of India and the courts at Mumbai shall have exclusive jurisdiction on all matters and disputes arising out of and relating to the Site. </p>   
      
      
      
      
      
      
      
      
    </div>
