<div class="hero-unit">
  <h2 class="text-center"> You are not authorized to access this page! </h2>
  <br/>
  <div class="text-center">
    <%= image_tag("access_denied_error.png", :size => '200x150') %>
  </div>
  <br/>
<p>
  <h2 class="text-center">
    <small> Please <%= link_to('go back', root_url)%> to the home page. </small>
  </h2>
</p>
</div>
