<h1 class="text-center"> The requested operation could not be completed!</h1>
<br/>
<p>
<h2 class="text-center">
  <small>You can try refreshing the page as the problem may be temporary or
   <%= link_to('go back', root_url) %> to the home page.
  
  </small>
</h2>
</p>
     
   
    