<div class="hero-unit">
  <h2 class="text-center"> The page you are trying to access could not be found!</h2>
  <br/>
  <div class="text-center">
    <%= image_tag("404Error.png", :size => '200x150')%>
  </div>
  <br/>
  <p>
  <h2 class="text-center">
    <small>
      if you entered the url in by hand, please make sure that it is correct.
      <%= link_to('Go back', root_url) %> to the home page.
    </small>
  </h3>
  </p>
    
</div>
