.navigation .selected a {
background:url(nav_hover.jpg) repeat-x;
}
.navigationline{
}
/* ######### Style for Drop Down Menu ######### */
.dropmenudiv{
position:absolute;
z-index:1500;
visibility: hidden;
width:auto; height:auto; border:3px solid #b42220; background:#FFFFFF;

float:left;
left:200px;
-moz-border-radius:0px 8px 8px 8px; border-radius:0px 8px 8px 8px;
}
.dropmenudiv .sub_menu_part {width:auto; height:auto; float:left; padding:5px 10px 5px 7px;}
.dropmenudiv .sub_menu_part ul h2 {font-size:13px; color:#cc0f16; padding:5px 0px 10px 0px; background:url(submenu_border.jpg) repeat-x bottom; font-family:'LatoRegular'; font-weight:normal;}

.dropmenudiv .sub_menu_part ul li {font-size:12px; color:#292929; background:url(submenu_border.jpg) repeat-x bottom; padding:0px 0px 1px 0px; font-weight:bold;}
.dropmenudiv .sub_menu_part ul li a {color:#4d4d4d;  padding:5px 5px 5px 2px; display:block; border-bottom:1px dotted #ccc; font-family:'LatoRegular'; font-weight:normal;}
.dropmenudiv .sub_menu_part ul li a:hover {background:#ffdfdf; color:#000000;}

*{margin:0; padding:0;}
body{margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif;}
ul li {padding:0px; margin:0px; list-style:none;} a {text-decoration:none; outline:none;} a img {border:none;}
/*--------------------------Navigation-------------------------*/
#header .navigation {width:978px; height:37px; float:left; background:url(nav_fill.jpg) repeat-x; border:1px solid #fff; -moz-border-radius:5px 5px 0px 0px; border-radius:5px 5px 0px 0px; overflow:hidden;}
.pri-menu .navigation ul li {font-size:15px; float:left; background:url(pri-menu-divider.png) no-repeat right; padding:0px 1px 0px 0px;}
.pri-menu .navigation ul li a {color:#fff; padding:11px 20px 11px 20px; display:block; height:36px; line-height:33px;}
.pri-menu .navigation ul li a:hover {background:url(nav_hover.jpg) repeat-x; padding:11px 20px 11px 20px; display:block; height:36px;}
.pri-menu .navigation ul li.home-tab{ background:url(home-icon.png) left top no-repeat; padding:0px ; margin:17px 10px 0px 10px; float:left; width:44px; height:29px; cursor:pointer;}
.pri-menu .navigation ul li.home-tab a:hover{ background:none !important; width:44px; height:29px;}
.dropmenudiv{ top:179px !important;}

