@font-face {
    font-family: 'GothamLight';
    src: url('gotham-light.eot');
    src: url('gotham-light.eot') format('embedded-opentype'),
         url('gotham-light.woff') format('woff'),
         url('gotham-light.ttf') format('truetype'),
         url('gotham-light.svg#GothamLight') format('svg');
}
